.news-list{
	width: 100%;height: auto;
	padding: 0 0.2rem;
}
.news-sec{
	width: 100%;height: auto;
	border-bottom: 1px solid #DADADA;
	overflow: hidden;
	padding: 0.4rem 0 0;
	position: relative;
}
.news-sec>img:first-child{
	width: 7.1rem;height: 3rem;
}
.news-sec>span{
	width: 100%;
	font-size: 0.4rem;font-weight: bold;
	margin-top: 0.1rem;margin-bottom: 0.2rem;
	color: #323232;
}
.news-sec>p,
.news-sec>div{
	width: 100%;height: auto;
	font-size: 0.28rem;
	color: #646464;
	overflow: hidden;
	letter-spacing: 0;
	text-align: justify;
}
.news-sec>p{
	width: 6rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news-sec>p.active{
	width: 100%;
	overflow: auto;
	white-space: normal;
	text-overflow: clip;
}
.news-sec>img:last-child{
	width: 0.3rem;height: 0.3rem;
	position: absolute;
	bottom: 0.3rem;
	right: 0.2rem;
	z-index: 1;
}
