.wrapper-section{
	width: 100%;height: 100%;
	overflow: hidden;
	background: #FFFFFF;
	padding-top: 0.7rem;padding-bottom: 51px;
}
.wrapper-section>.mui-scroll>ul{
	width: 100%;height: auto;
	margin-bottom: 0.2rem;
	padding-left: 0.2rem;padding-right: 0.2rem;
}
.wrapper-section ul>li{
	width: 100%;height: auto;
	border-bottom: 1px solid #DADADA;
	overflow: hidden;
}
.wrapper-section ul>li>span{
	height: 0.34rem;
	line-height: 0.34rem;
	font-size: 0.28rem;
	color: #323232;
	font-weight: bold;
}
.wrapper-section ul>li>input,
.wrapper-section ul>li .select,
.wrapper-section ul>li select>option{
	width: 100%;height: 0.6rem;
	background: #FFFFFF;
	border: 1px solid #979797;
	font-size: 0.28rem;
	padding-left: 0.2rem;
	color: #646464;
}
.wrapper-section ul>li>input[type=text],
.wrapper-section ul>li .select{
	border-radius: 0.02rem;
	border: 1px solid #979797;
}
.wrapper-section ul>li .select{margin-bottom: 0.2rem;margin-top: 0.1rem;padding: 0;}
.wrapper-section ul>li>input{margin-top: 0.1rem;}
.wrapper-section ul>li select{
	width: 100%;height: 100%;
	border: 1px solid #979797;
	appearance: none;
	-webkit-appearance: none;
	background: url(../res/smicon/slide-down.png) calc(95%) center no-repeat;
	background-size: 0.3rem 0.3rem;
	padding-left: 0.2rem;
}
.wrapper-section ul>li select>option{
	height: 0.5rem;
	appearance: none;
	-webkit-appearance: none;
	border-bottom: 1px solid #DADADA;
}
aside .mui-bar-tab{
	width: 100%;height: 50px;
	border-top: 1px solid #DADADA;
	position: fixed;
	bottom: 0;
	left: 0;
}
aside .mui-bar-tab .mui-tab-item{
	width: 50%;
	font-size: 18px;
	text-align: center;
	padding: 0;
}
aside .mui-bar-tab .mui-tab-item:nth-child(1){
	background: #F6F6F6;
	color: #545454;
}
aside .mui-bar-tab .mui-tab-item:nth-child(2){
	background: #FFAA00;
	color: #FFFFFF;
}

.wrapper-section .wrapper-ul{
	width: 100%;
	overflow: hidden;
	margin-top: 0.1rem;
}
.wrapper-section .wrapper-ul>li{
	width: 1.4rem;
	height: 0.6rem;line-height: 0.6rem;
	background: #FFFFFF;
	border: 1px solid #979797;
	float: left;
	margin-left: 0.1rem;margin-right: .1rem;margin-bottom: 0.15rem;
	font-size: 0.26rem;
	text-align: center;
	color: #646464;
}
.wrapper-section .wrapper-ul>li.active{
	border: 1px solid #FFAA00;
	color: #FFAA00;
}
